<footer>
  Zbudowane dla zabawy, przy pomocy <a
    href='https://astro.build'
    target='_blank'>Astro</a
  > przez
  <a href='https://cskl.pl' target='_blank'>Creative Sight Konrad Leśniak</a>
</footer>

<style>
  footer {
    text-align: center;
    padding: 15px;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
</style>
