<footer>
  Zbudowane dla zabawy, przy pomocy <a
    href='https://astro.build'
    target='_blank'>Astro</a
  > przez
  <a href='https://cskl.pl' target='_blank'>Creative Sight Konrad Leśniak</a>
  <p class='text-center'>
    Podoba ci się ten projekt? <a
      href='https://buycoffee.to/cskl'
      target='_blank'>Postaw mi kawusie :)</a
    >
  </p>
</footer>

<style>
  footer {
    text-align: center;
    padding: 15px;
  }

  a {
    color: inherit;
    font-weight: 700;
    text-decoration: underline;
  }
</style>
